<html>

<head>
	<title>Edit Payment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Payment: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Payments-->
            <form id="Edit_Payment" action="/edit_payment/{{data[0].payment_id}}" method="post">
                <legend><strong>Edit Order</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].payment_id}}" class="form-control" id="payment_id" name="payment_id" required>

                    <label for="model">Payment Amount:</label>
                    <input type="text" value="{{data[0].payment_amount}}" class="form-control" id="payment_amount" name="payment_amount" required>

                    <input type="hidden" value="{{data[0].order_id}}" class="form-control" id="order_id" name="order_id" required>

                    <label for="model">Currency:</label>
                    <input type="text" value="{{data[0].currency}}" class="form-control" id="currency" name="currency" required>

                    <label for="model">Payment Method:</label>
                    <input type="text" value="{{data[0].payment_method}}" class="form-control" id="payment_method" name="payment_method" required>
                
                </fieldset>
                <input type="submit" value="Edit Payment" name="Payment" class="btn btn-primary" style="margin:.5rem;">
                <a href='/payments'><input class="btn" type="button" value="cancel"></a>
            </form>
</html>