<html>
<head>
<title>Payments</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<h1>Payments</h1>

[ <a href="users.html">Users</a> | <a href="orders.html">Orders</a> | <a href="shipments.html">Shipments</a> | <a href="payments.html">Payments</a> | <a href="pokemoncardspecs.html">PokemonCardSpecs</a>]
<div id="browse" style="display: block">
<p><strong>Browse Payments</strong></p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#">New</a></th>
    <th></th>
    <th>Payment Amount</th>
    <th>Order ID</th>
    <th>Currency</th>
    <th>Payment Method</th>
    <th>PSA Grade</th>
  </tr>
  <tr>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
    <td align="right" >1</td>
    <td >Charizard</td>
    <td align="right" >Base</td>
    <td>English</td>
    <td>7</td>
  </tr>
  <tr>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
    <td align="right" >2</td>
    <td>Blastoise</td>
    <td align="right" >Fossil</td>
    <td >English</td>
    <td>9.5</td>
  </tr>
  <tr>
    <td><a href="#">Edit</a></td>
    <td><a href="#">Delete</a></td>
    <td>3</td>
    <td>Venusaur</td>
    <td align="right" >NeoGen</td>
    <td>Japanese</td>
    <td>8</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert" style="display: block">
    <form id="addPlanet">
        <legend><strong>Add Card</strong></legend>
          <fieldset class="fields">
            <label> ID </label> <input type="text" name="name">
            <label> Card Title </label> <input type="text"  name="population">
            <label> Set </label> <input type="text" name="language">
            <label> Language </label> <input type="text" name="language">
            <label> PSA Grade </label> <input type="text" name="language">
          </fieldset>
          <input class="btn" type="submit" id="addPlanet" value="Add a Card">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new planet-->
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update" style="display: block">
  <form id="updatePlanet">
      <legend><strong>Update Card</strong></legend>
          <fieldset class="fields">
          <label> ID </label> <input type="text">
          <label> Card Title </label> <input type="text"  name="population" >
          <label> Set </label> <input type="text" name="language">
          <label> Language </label> <input type="text" name="language">
          <label> PSA Grade </label> <input type="text" name="language">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSavePlanet" value="Save Update Card">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form id="deletePlanet">
      <legend><strong>Delete Card</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>ID:</label> 1
            <label> Name </label> Gemenon
            
    </fieldset>
    <input class="btn" type="submit" id="DeletePlanet" value="Delete Planet">
          <input class="btn" type="button" value="cancel" >
  </form> 
</div><!-- delete -->
</body>
</html>
